{% extends "web/cart-base.html" %}
{% load static %}
{% load cart_filters %}

{% block cart-content %}
<section id="cart" class="s-cart">
    <div class="container">
        <h2>Your Cart</h2>
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% if cart %}
                    {% for item in cart %}
                        <tr>
                            <td>
                                <div class="cart-item">
                                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    <div class="cart-item-info">
                                        <h3>{{ item.product.name }}</h3>
                                        <p>{{ item.product.description }}</p>
                                    </div>
                                </div>
                            </td>
                            <td>${{ item.price }}</td>
                            <td>${{ item.total_price }}</td>
                            <td>
                                <form method="POST" action="{% url 'remove_from_cart' item.id %}" style="display:inline;">
                                    {% csrf_token %}
                                    <button type="submit">Remove</button>
                                </form>                                
                            </td>
                        </tr>
                    {% empty %}
                    <tr>
                        <td colspan="4">Your cart is empty.</td>
                    </tr>
                    {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4">Your cart is empty.</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        <div class="cart-summary">
            <h3>Cart Summary</h3>
            <p>Subtotal: ${{ cart.get_total_price }}</p>
            <a href="{% url 'checkout_page'%}" class="btn btn--checkout">Proceed to Checkout</a>
            <a href="{% url "shop" %}" class='btn btn--checkout'>Back to shop</a>
        </div>
    </div>
</section>
{% endblock %}
