{% extends "web/login-base.html" %}
{% load static %}
{% block login-content %}
<div class="register-wrapper">
    <div class="register-container">
        <h2>Registration</h2>
        <form method="post" action="{% url 'register' %}">
            <div class="form-group">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn-submit">Register</button>
            </div>
        </form>
        <div class="login-link">
            <p>Already have account? <a href="{% url 'login' %}">Login here</a></p>
        </div>
    </div>
</div>
{% endblock %}
