{% extends "web/upd-base.html" %}
{% load static %}

{% block upd-content %}
<div class="container">
    <h2>Update Profile</h2>
    <form method="POST">
        {% csrf_token %}
        {{ profile_form.as_p }}
        <button type="submit" name="update_profile" class="btn btn-primary">Update Profile</button>
    </form>
    
    <h2>Change Password</h2>
    <form method="POST">
        {% csrf_token %}
        {{ password_form.as_p }}
        <button type="submit" name="change_password" class="btn btn-primary">Change Password</button>
    </form>
</div>
{% endblock %}
